{% extends "./base.html" %}

{% block maincontent %}
<h1>List of Nutrition Info</h1>
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Unit</th>
            </tr>
        </thead>
        <tbody>
                {% for nutritionInfo in object_list %}
                <tr>
                    <td>{{nutritionInfo.name}}</td>
                    <td>{{nutritionInfo.unit}}</td>
                    <td><a class="btn btn-primary" href="{% url 'nutri-details' nutritionInfo.id  %}">
                            Details
                        </a>
                    </td>
                    <td><a class="btn btn-primary" href="{% url 'nutri-update' nutritionInfo.id  %}">
                            Update
                        </a>
                    </td>
                    <td><a class="btn btn-danger" href="{% url 'nutri-delete' nutritionInfo.id  %}">
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}
