{% extends "../base.html" %}

{% block maincontent %}
<h1>List of Nutrition Info</h1>
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Nutrition</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
                {% for product in object_list %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        {% for info in nutri_directory %}
                                {% if info.prod_id == product %}
                                    {{info}}<br>
                                {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{product.status}}</td>
                    <td><a class="btn btn-primary" href="{% url 'products-details' product.id  %}">
                            Details
                        </a>
                    </td>
                    <td><a class="btn btn-primary" href="{% url 'products-update' product.id  %}">
                            Update
                        </a>
                    </td>
                    <td><a class="btn btn-danger" href="{% url 'products-delete' product.id  %}">
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}
